<md-content class="md-padding" layout-padding>
      <form name="Login" layout="column">
         <md-input-container>
           <label>user name</label>
           <input required name="userName" ng-model="user.userName">
           <div ng-messages="Login.userName.$error" md-auto-hide>
             <div ng-message="required" ng-hide="Login.userName.$valid">This is required.</div>
           </div>
         </md-input-container>
         <md-input-container>
           <label>password</label>
           <input required type="password" name="pswd" ng-model="user.password">
           <div ng-messages="Login.pswd.$error"  md-auto-hide>
             <div ng-message="required" ng-hide="Login.pswd.$valid">This is required.</div>
             
           </div>
         </md-input-container> 
         <md-button ng-click="null" class="md-raised md-primary" ng-disabled="Login.$invalid">Login</md-button>  
      </form>
</md-content>