<md-content flex class="md-padding" layout="row">
			<note-directive ng-repeat="note in notes">

			</note-directive>
		</md-content>


<!-- <div ng-switch="actualFlagInTemp">
	<div ng-switch-when="true">
		<md-content flex class="md-padding" layout="row">
			<note-directive ng-repeat="note in notes | filter: { labels: { id: labelId } }">

			</note-directive>
		</md-content>
	</div>
	<div ng-switch-when="false">
		<md-content flex class="md-padding" layout="row">
			<note-directive ng-repeat="note in notes">

			</note-directive>
		</md-content>
	</div>
</div>
 -->